@model PFinalWeb.Models.Noticias

@{
    ViewBag.Title = "Editando Noticia";
}

<h2>Editar Noticia</h2>
<style>#Contenido:focus{outline:none!important;border:0px solid black!important;box-shadow:none}</style>
@using (Html.BeginForm("EditNoticia", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="row">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "red-text" })
    @Html.ValidationMessage("errr")
    <input name="IDNew" value="@Model.IDNew" hidden/>
    <div class="input-field col s4">
        @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "" })
        @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "" } })
        @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "red-text unableToSelect" })
    </div>

    <div class="input-field col s4">
        @Html.LabelFor(model => model.Resumen, htmlAttributes: new { @class = "" })
        <input name="Resumen" id="Resumen" type="text" data-length="30" value="@Model.Resumen" />
        @Html.ValidationMessageFor(model => model.Resumen, "", new { @class = "red-text unableToSelect" })
    </div>

    <div class="file-field input-field col s4">
        <div class="btn blue">
            <span>Imagen</span>
            <input id="file" name="file" type="file" />
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
            @Html.ValidationMessageFor(model => model.file, "", new { @class = "red-text unableToSelect" })
            @Html.ValidationMessage("postedImg")
        </div>
    </div>

    <div class="input-field col s4" style="max-height: 300px; ">
        <label class="" for="Contenido">Contenido</label>
        <textarea style="max-height:140px!important;max-width:223px!important" id="Contenido" name="Contenido" data-length="1000">@Model.Contenido</textarea>
        <span class="field-validation-valid red-text unableToSelect"></span>
    </div>

    <div class="row">
        <div class="col s12">
            <button type="submit" value="Guardar Cambios"
                    class="btn waves-effect waves-teal white-text blue" style="width:100%">
                Guardar Cambios
            </button>
        </div>
    </div>
</div>
}
