<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/materialize.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Final Web</title>
    <style>.sidenav{z-index:1025!important;}</style>
</head>
<body>
    <header>
        <nav style="margin-top:0px!important;">
            <div class="nav-wrapper teal">
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="hide-on-med-and-down" style="margin-left:15.2%;">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Mapa</a></li>
                    <li><a href="#">Noticias</a></li>
                    <li><a href="#">Suscribete</a></li>
                    <li><a href="#">Estadisticas</a></li>
                    <li class="right" style="margin-right:18%;"><a href="#">Ingresar Adm.</a></li>
                </ul>
            </div>
        </nav>
        <ul class="sidenav collection with-header" id="mobile-demo">
            <li class="collection-header"><h4>@Html.ActionLink("Final", "Index", "Home")</h4></li>
            <li class="collection-item"><a href="#">Inicio<span class="secondary-content"><i class="material-icons">send</i></span></a></li>
            <li class="collection-item"><a href="#">Mapa<span class="secondary-content"><i class="material-icons">send</i></span></a></li>
            <li class="collection-item"><a href="#">Noticias<span class="secondary-content"><i class="material-icons">send</i></span></a></li>
            <li class="collection-item"><a href="#">Suscribete<span class="secondary-content"><i class="material-icons">send</i></span></a></li>
            <li class="collection-item"><a href="#">Estadisticas<span class="secondary-content"><i class="material-icons">send</i></span></a></li>
            <li class="collection-item"><a href="#">Ingresar Adm.<span class="secondary-content"><i class="material-icons">send</i></span></a></li>
        </ul>
    </header>
    <main class="container body-content">
        @RenderBody()
    </main>
    <footer class="page-footer teal">
        <div class="footer-copyright">
            <div class="container">
                &copy; @DateTime.Now.Year Copyright
                <a class="grey-text text-lighten-4 right" href="#!">Más cosas</a>
            </div>
        </div>
    </footer>
    @*<footer class="page-footer teal">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Footer Content</h5>
                        <p class="grey-text text-lighten-4">Rows & cols.</p>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    &copy; @DateTime.Now.Year Copyright
                    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                </div>
            </div>
        </footer>*@
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () { $('.sidenav').sidenav(); });
    </script>
</body>
</html>
